services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: simple-storage-server:latest
    container_name: simple-storage-server
    restart: unless-stopped
    ports:
      - "5000:80"
    volumes:
      - sqlite_data:/var/www/html/database/data
      # Make sure to mount storage if you want persistence outside container
      - storage_app:/var/www/html/storage/app
    environment:
      APP_ENV: production
      APP_DEBUG: 'false'
      APP_KEY: ${APP_KEY}
      APP_URL: ${APP_URL}
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/data/database.sqlite
      # Auth & Config
      STORAGE_API_KEY: ${STORAGE_API_KEY}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD} 
      SWAGGER_PASSWORD: ${SWAGGER_PASSWORD}
      # Cron
      # You might need a separate cron container or run scheduler in supervisor
      
volumes:
  sqlite_data:
  storage_app:
